.data
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.tab
{
    margin-left: auto;
    margin-right: auto;
    border: solid 5px white;
    color: black;
    background-color: #66CCFF;
    border-radius: 15px;
}
.head
{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    background-color:  #CCFFCC;
}
.use
{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.tabn
{
    margin-left: auto;
    margin-right: auto;
    border: solid 5px white;
    color: black;
    background-color:  #0099CC;
    border-radius: 15px;
    width: 10%;
}
